parameters:
    level: 7
    paths:
        - src
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        - '#PHPDoc tag @template .+ with bound type .+ is not supported.#' #Affects: flatten(),flat_map()
        - '#Template type T3 of function .+ is not referenced in a parameter\.#' #Affects: flatten(),flat_map()
        - '#Unable to resolve the template type T2.+#' #Affects: flatten()
        - '#Function Lambdish\\Phunctional\\flatten\(\) should return.+#' #Affects: flatten()
        - '#get_class expects object, callable given#' #Affects: memoize()
        - '#.+ should return array<.*TKey of \(int\|string\).*> but returns array<.+#' #Affects: partition()
        - '#.+expects.+TKey of \(int\|string\).+ given.+#' #Affects: all(),filter(),map()
    checkMissingIterableValueType: true
